.cloud-off-icon svg {
  fill: var(--text-color);
}

header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 2rem;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .square-logo {
      width: 5vw;
      height: 5vw;
      background-color: var(--primary-color);
    }

    .typograhpy-logo {
      font-size: 2rem;
      font-weight: 900;
    }
  }
}
