/* colour palette */
/* Light Mode */
:root {
  --background-color: #dadada;
  --text-color: #000;
  --primary-color: #000;
  --secondary-color: #000;
  --special-links: #b49103;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --text-color: #fff;
    --primary-color: #fff;
    --secondary-color: #fff;
    --special-links: #b49103;
  }
}

/* Reset */
body,
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
